@using Parse
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>
    <!-- Bootstrap -->
    <link href="../../Content/bootstrap.min.css" rel="stylesheet"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!--Navigation bar, vanboven altijd geplakt-->
    <!--Navbar niet meer fixed vanboven -> navbar-dixed-top verwijderen -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>    
            </button>
            <a class="navbar-brand" href="#">Joetz</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--active class!!!!-->
                @*<li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>*@
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Vakanties", "Index", "Vakantie")</li>
                <li>@Html.ActionLink("Vormingen", "Index", "Vorming")</li>
                <li>@Html.ActionLink("Monitoren", "Index", "Monitor")</li>
                <li>@Html.ActionLink("Feedback", "Index", "Feedback")</li>
                <li>@Html.ActionLink("Administrator toevoegen", "Index", "Admin")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @{
                    if (ParseUser.CurrentUser == null)
                    {
                        <li>@Html.ActionLink("Inloggen", "Login", "Account")</li>
                    }
                    else
                    {
                        <li><p class="navbar-text navbar-right">Ingelogd als @ParseUser.CurrentUser.Email</p></li>
                        //TODO: uitlog knop
                    }
                }
                @*@Html.Partial("_LoginPartial")*@
            </ul>
        </div>
    </div>
</nav>

@RenderSection("featured", required: false)
<section class="container">
    @RenderBody()
</section>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>

@*<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Joetz</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Joetz", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Vakanties", "Index", "Vakantie")</li>
                            <li>@Html.ActionLink("Maak Monitoren Aan", "Index", "MaakMonitorAan")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>*@
