@model Joetz.Models.Domain.Vakantie

@{
    ViewBag.Title = "Create";
}

<form role="form">
    <div class="page-header">
        <h1>Nieuwe vakantie</h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Algemeen</div>
        <div class="container">
            <br/>
            <div class="form-group">
                <label for="inputTitel">@Html.LabelFor(model => model.Titel)</label>
                <input type="text" class="form-control" id="inputTitel" style="width: 97%"/>
                @Html.ValidationMessageFor(model => model.Titel)
            </div>
            <div class="form-group">
                <label for="inputKorteBeschrijving">@Html.LabelFor(model => model.KorteBeschrijving)</label>
                <textarea class="form-control" rows="3" id="inputKorteBeschrijving" style="width: 97%"></textarea>
                @Html.ValidationMessageFor(model => model.KorteBeschrijving)
            </div>
            <div class="form-group">
                <label for="inputVervoerwijze">@Html.LabelFor(model => model.Vervoerwijze)</label>
                <input type="text" class="form-control" id="inputVervoerwijze" style="width: 97%"/>
                @Html.ValidationMessageFor(model => model.Vervoerwijze)
            </div>
            <div class="form-group">
                <label for="inputFormule">@Html.LabelFor(model => model.Formule)</label>
                <input type="text" class="form-control" id="inputFormule" style="width: 97%"/>
                @Html.ValidationMessageFor(model => model.Formule)
            </div>
            <div class="form-group">
                <label for="inputMinLeeftijd">@Html.LabelFor(model => model.MinLeeftijd)</label>
                <input type="number" class="form-control" id="inputMinLeeftijd" style="width: 97%"/>
                @Html.ValidationMessageFor(model => model.MinLeeftijd)
            </div>
            <div class="form-group">
                <label for="inputMaxLeeftijd">@Html.LabelFor(model => model.MaxLeeftijd)</label>
                <input type="number" class="form-control" id="inputMaxLeeftijd" style="width: 97%"/>
                @Html.ValidationMessageFor(model => model.MaxLeeftijd)
            </div>
            <div class="form-group">
                <label for="inputMaxAantalDeelnemers">@Html.LabelFor(model => model.MaxAantalDeelnemers)
                </label>
                <input type="number" class="form-control" id="inputMaxAantalDeelnemers" style="width: 97%"/>
                @Html.ValidationMessageFor(model => model.MaxAantalDeelnemers)
            </div>
            <div class="form-group">
                <label for="inputLocatie">@Html.LabelFor(model => model.Locatie)</label>
                <input type="text" class="form-control" id="inputLocatie" style="width: 97%"/>
                @Html.ValidationMessageFor(model => model.Locatie)
            </div>
            <div class="form-group">
                <label for="inputLinkWebsite">@Html.LabelFor(model => model.Link)</label>
                <input type="url" class="form-control" id="inputLinkWebsite" style="width: 97%"/>
                @Html.ValidationMessageFor(model => model.Link)
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Data</div>
        <div class="container">
            <br/>
            <div class="form-group">
                <label for="inputVertrekdatum">@Html.LabelFor(model => model.VertrekDatum)</label>
                <input type="date" class="form-control" id="inputVertrekdatum" placeholder="dd/mm/jjjj"
                       style="width: 97%"/>
                @Html.ValidationMessageFor(model => model.VertrekDatum)
            </div>
            <div class="form-group">
                <label for="inputTerugkeerdatum">@Html.LabelFor(model => model.TerugkeerDatum)</label>
                <input type="date" class="form-control" id="inputTerugkeerdatum" placeholder="dd/mm/jjjj"
                       style="width: 97%"/>
                @Html.ValidationMessageFor(model => model.TerugkeerDatum)
            </div>
            <div class="form-group">
                <label for="inputAantalDagenNachten">@Html.LabelFor(model => model.AantalDagenNachten)</label>
                <input type="text" class="form-control" id="inputAantalDagenNachten"
                       placeholder="# dagen, # nachten" style="width: 97%"/>
                @Html.ValidationMessageFor(model => model.AantalDagenNachten)
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Prijzen</div>
        <div class="container">
            <br/>
            <div class="form-group">
                <label for="inputBasisprijs">@Html.LabelFor(model => model.BasisPrijs)</label>
                <input type="text" class="form-control" id="inputBasisprijs" style="width: 97%"/>
                @Html.ValidationMessageFor(model => model.BasisPrijs)
            </div>
            <div class="form-group">
                <label for="inputBondMoysonLedenPrijs">
                    @Html.LabelFor(model => model.BondMoysonLedenPrijs)
                </label>
                <input type="text" class="form-control" id="inputBondMoysonLedenPrijs" style="width: 97%"/>
                @Html.ValidationMessageFor(model => model.BondMoysonLedenPrijs)
            </div>
            <div class="form-group">
                <label for="inputSterprijs1ouder">@Html.LabelFor(model => model.SterPrijs1Ouder)</label>
                <input type="text" class="form-control" id="inputSterprijs1ouder" style="width: 97%"/>
                @Html.ValidationMessageFor(model => model.SterPrijs1Ouder)
            </div>
            <div class="form-group">
                <label for="inputSterprijs2ouders">@Html.LabelFor(model => model.SterPrijs2Ouders)</label>
                <input type="text" class="form-control" id="inputSterprijs2ouders" style="width: 97%"/>
                @Html.ValidationMessageFor(model => model.SterPrijs2Ouders)
            </div>
            <div class="form-group">
                <label for="inputInbegrepenPrijs">@Html.LabelFor(model => model.InbegrepenPrijs)</label>
                <textarea class="form-control" id="inputInbegrepenPrijs" rows="3" style="width: 97%">
                </textarea>
                @Html.ValidationMessageFor(model => model.InbegrepenPrijs)
            </div>
        </div>
    </div>
    <div class="container">
        <button type="submit" class="btn btn-default">Toevoegen</button><br/><br/>
    </div>
</form>
<div class="container">
    <br/>
    @Html.ActionLink("Terug naar overzicht vakanties", "Index", "Vakantie")<br/><br/>
</div>




@*<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Vakantie</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Titel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Titel)
            @Html.ValidationMessageFor(model => model.Titel)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KorteBeschrijving)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KorteBeschrijving)
            @Html.ValidationMessageFor(model => model.KorteBeschrijving)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VertrekDatum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VertrekDatum)
            @Html.ValidationMessageFor(model => model.VertrekDatum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TerugkeerDatum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TerugkeerDatum)
            @Html.ValidationMessageFor(model => model.TerugkeerDatum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AantalDagenNachten)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AantalDagenNachten)
            @Html.ValidationMessageFor(model => model.AantalDagenNachten)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Vervoerwijze)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vervoerwijze)
            @Html.ValidationMessageFor(model => model.Vervoerwijze)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Formule)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Formule)
            @Html.ValidationMessageFor(model => model.Formule)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BasisPrijs)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BasisPrijs)
            @Html.ValidationMessageFor(model => model.BasisPrijs)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BondMoysonLedenPrijs)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BondMoysonLedenPrijs)
            @Html.ValidationMessageFor(model => model.BondMoysonLedenPrijs)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SterPrijs1Ouder)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SterPrijs1Ouder)
            @Html.ValidationMessageFor(model => model.SterPrijs1Ouder)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SterPrijs2Ouders)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SterPrijs2Ouders)
            @Html.ValidationMessageFor(model => model.SterPrijs2Ouders)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InbegrepenPrijs)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InbegrepenPrijs)
            @Html.ValidationMessageFor(model => model.InbegrepenPrijs)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MinLeeftijd)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MinLeeftijd)
            @Html.ValidationMessageFor(model => model.MinLeeftijd)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaxLeeftijd)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaxLeeftijd)
            @Html.ValidationMessageFor(model => model.MaxLeeftijd)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaxAantalDeelnemers)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaxAantalDeelnemers)
            @Html.ValidationMessageFor(model => model.MaxAantalDeelnemers)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Locatie)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Locatie)
            @Html.ValidationMessageFor(model => model.Locatie)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Link)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Link)
            @Html.ValidationMessageFor(model => model.Link)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
