@model Joetz.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<head>
    <script src="//www.parsecdn.com/js/parse-1.3.2.min.js"></script>
</head>

<section id="loginForm">
    <div class="container">
        <br/><br/>
        <form role="form">
            <h2>Inloggen</h2>
            <div class="form-group">
                <label for="inputEmail">@Html.LabelFor(model => model.Email)</label>
                <input type="email" class="form-control" id="inputEmail"/>
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <div class="form-group">
                <label for="inputPassword">@Html.LabelFor(model => model.Wachtwoord)</label>
                <input type="password" class="form-control" id="inputPassword"/>
                @Html.ValidationMessageFor(model => model.Wachtwoord)
            </div>
            <div class="form-group">
                <button type="submit">Log in</button>
            </div>
        </form>
    </div>
</section>



@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<head>
    <script src="//www.parsecdn.com/js/parse-1.3.2.min.js"></script>
</head>
<section id="loginForm">
<h2>Use a local account to log in.</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Wachtwoord)
                @Html.PasswordFor(m => m.Wachtwoord)
                @Html.ValidationMessageFor(m => m.Wachtwoord)
            </li>
          
        </ol>
        <input type="submit" value="Log in" />
    </fieldset>
 
}
</section>*@



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
