@model Joetz.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<head>
    <script src="//www.parsecdn.com/js/parse-1.3.2.min.js"></script>
</head>

<section id="loginForm">
    <div class="container">
        <br/><br/><br/>

        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-5">
                    <h3>Inloggen</h3>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.Email)
                </label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", id = "inputEmail", type = "email" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div class="form-group">
                <label for="inputWachtwoord" class="col-sm-4 control-label">
                    @Html.LabelFor(model => model.Wachtwoord)
                </label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(model => model.Wachtwoord, new { @class = "form-control", id = "inputWachtwoord", type="password"})
                    @Html.ValidationMessageFor(model => model.Wachtwoord)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-5">
                    <button type="submit" class="btn btn-default">Log in</button>
                </div>
            </div>
        }
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
